*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f5dfa2, #ec1212);
    background-image: linear-gradient(rgba(236, 210, 153, 0.5), rgba(253, 0, 0, 0.5)), url('./639482959_4196103657320225_7354423598264022459_n.jpg');
}

.container{
    background: white;
    padding: 25px 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 700px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* logo next to title */
.container .title .title-logo{
    height: 30px;
    width: auto;
}

.container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(to right, #e6e279, #990808);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .user-details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:  #ff4747;
}

form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

.gender-details .category label{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 2px solid #ff4747;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two{
    background: #ff4747;
    border-color: #ff4747;
}

form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    background: linear-gradient(to right, #e6e279, #990808);
    cursor: pointer;
    transition: all 0.3s ease;
}   

form .button input:hover{
    background: linear-gradient(to right, #e6e279, #990808);
}
    
@media (max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }   
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}